example_video
sampled_frames
.env
google_restaurants
qdrant_gemini_3
image_corpus
plaidrepro/colbert/downloads
database
qdrant_db_test
qdrant_db
setupCSE.sh
submit_*.sh
output*
dataset
__pycache__/
LaViC/data/item2meta_train.json
LaViC/data/train_images
LaViC/data/valid_images
LaViC/db
LaViC/src/lightning_logs
LaViC/src/out_distilled
LaViC/src/out_finetuned
image_*
LaViC_Pratice